@import url(/assets/css/root.css);

/* --------------------- */


@font-face {
    font-family: 'Articulat CF';
    src: url(/assets/font/Fontspring-DEMO-articulatcf-regular-BF64a38d8b1d671.otf) format('woff2');
}

.max-w-1140 {
    max-width: 1140px;
}

.ff-1 {
    font-family: 'Articulat CF';
}

.fw-700 {
    font-weight: 700;
}

.fw-600 {
    font-weight: 600;
}

.fw-500 {
    font-weight: 500;
}

.fw-400 {
    font-weight: 400;
}

.lh-160 {
    line-height: 160%;
}

.lh-43 {
    line-height: 43px;
}

.lh-65 {
    line-height: 65px;
}

.lh-33 {
    line-height: 33px;
}

/* ------------------- */
.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.py-22 {
    padding-top: 22px;
    padding-bottom: 22px;
}

.rotate-90 {
    transform: rotate(-90deg);
}

.gap-32 {
    gap: 32px;
}



.icon-box {

    width: 36px;
    height: 36px;
    border-radius: 100px;
    background: rgba(217, 217, 217, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.24);
    backdrop-filter: blur(5px);

}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    margin-top: 50px;
    padding-right: 40px;
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

}

.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.link {
    display: block;
    transform: rotate(-90deg);
    color: white;

}

.nav-item:nth-child(1) {
    padding-top: 40px;
}

.nav-item:nth-child(2) {
    padding-top: 32px;
}

.nav-item:nth-child(3) {
    padding-top: 32px;
}

.nav-item:nth-child(4) {
    padding-top: 32px;
}

.nav-item:nth-child(5) {
    padding-top: 45px;
}

.nav-item:nth-child(6) {
    padding-top: 32px;
}

.arrow-img {
    margin-top: 40px;
}

.pt-100 {
    padding-top: 100px;
}

.right-sidebar {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 60px;
    padding-left: 40px;
    justify-content: center;

}

/* --------------- */
.section-2 {
    background-image: url(/assets/images/png/section-2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.py-183 {
    padding-top: 183px;
    padding-bottom: 184px;
}

.mt-12 {
    margin-top: 12px;
}

.max-w-477 {
    max-width: 477px;
}

.oppicity-70 {
    opacity: 0.7;
}

.pt-32 {
    padding-top: 32px;
}

/* --------------- */
.section-3 {
    background-image: url(/assets/images/png/section-3.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.py-255 {
    padding-top: 250px;
    padding-bottom: 251px;
}

.flex-column {
    flex-direction: column;
}

.text-center {
    text-align: center;
}

.max-w-632 {
    max-width: 632px;
}

/* --------------- */
.section-4 {
    background-image: url(/assets/images/png/section-4.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.mt-64 {
    margin-top: 64px;
}

.max-w-876 {
    max-width: 876px;
}

.max-w-398 {
    max-width: 398px;
}

.pt-60 {
    padding-top: 60px;
}

.py-125 {
    padding-top: 125px;
    padding-bottom: 124px;
}

/* ----------- */
.bottom-0 {
    bottom: 0;
}

.mt-193 {
    margin-top: 193px;
}

/* ------------- */
.pt-72 {
    padding-top: 72px;
}

.list-type-none {
    list-style-type: none;
}

.text-decroation-none {
    text-decoration: none;
}

.pt-16 {
    padding-top: 16px;
}

.gap-12 {
    gap: 12px;
}

.pb-28 {
    padding-bottom: 28px;
}

.Donate-btns {
    padding: 14px 32px;
    gap: 10px;
    background: #9A0000;
    border-radius: 34px;
    color: #F2F7F9;
}

.Donate-btns:hover {
    background: var(--bg-white);
    color: #9A0000;
}

.line {
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.24);
}

.mt-38 {
    margin-top: 38px;
}

.links:hover {
    text-decoration: underline;
}

.icon:hover {
    scale: 1.2;
}

.icon-box:hover {
    background: #F2F7F9;
}

.icon-box:hover svg path {
    fill: black;
}

.hero {
    height: 650px;
    width: 100%;
}

.max-w-354 {
    max-width: 354px;
}

.display {
    display: flex;
    justify-content: space-between;
}

@media(max-width:991.98px) {
    .dots {
        width: 70%;
    }

    .col-reverse {
        flex-direction: column-reverse;
    }

    .lg-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .center-text {
        text-align: center;
    }

    .lg-space {
        padding-top: 40px;
    }

    .py-183 {
        padding-top: 43px;
        padding-bottom: 44px;
    }

    .py-255 {
        padding-top: 50px;
        padding-bottom: 51px;
    }

    .mt-64 {
        margin-top: 24px;
    }

    .py-125 {
        padding-top: 45px;
        padding-bottom: 44px;
    }

    .thumb {
        width: 40%;
    }

    .pt-60 {
        padding-top: 30px;
    }

    .mt-193 {
        margin-top: 133px;
    }

    .lg-none {
        display: none;
    }

    .hero {
        width: 100%;
    }

}

@media(max-width:768px) {
    .md-space {
        padding-top: 18px;
    }

    .text {
        text-align: center;
    }

    .md-center {
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .sidebar {
        padding-right: 10px;
    }

    .right-sidebar {
        padding-left: 10px;
    }

    .hero {
        /* height: 550px; */
        width: 100%;
    }

}

@media(max-width:576px) {
    .display {
        /* display: flex; */
        justify-content: center;
        flex-direction: column;
        text-align: center;

    }
}